body { 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    background: #3e3b36;
}
.mainContent {
    width: 50%;
    margin: 40px 15%;
}
.editContent {
    position: absolute;
    top: -470px;
}
.pic2 {
    float: right;
}
.button2 {
    font-size: 1.5em;
    margin-top: 5%;
    background: rgb(54, 47, 152);
    color: rgb(194, 194, 194);
    border: none;
    box-shadow: 0 0 5px #777777;
}
.button {
    font-size: 0.8em;
    background: rgb(54, 47, 152);
    color: rgb(194, 194, 194);
    border: none;
    box-shadow: 0 0 5px #777777;
}
header {
    position: absolute;
    margin: 20px;
}
h1 {
    border-bottom: 1px solid black;
    background: #787269;
}
h2 {
    padding: 5px;
    background: #0E5611;
    color: #cccccc;
    width: 50%;
}
.userInfo {
    position: absolute;
}
.userContent {
    width: 80%;
}
#edit {
    float: right;
}
textarea {
    display: block;
    padding: 5px;
    width: 40%;
    height: 40px;
    margin-top: 4%;
    font-size: 1em;
}
.active {
    background: #178C1C;
}